@model ZorgApp2.ViewModel.BezoekPlanViewModel

@{
    ViewData["Title"] = "MaakBezoek";
    List<Handeling> hand = Model.Bezoek.Handelingen;
}
@section Styles{
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/tavocal/dist/tavo-calendar.css" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.css" />
}
<form method="post">
    <div class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Bezoek.Id" />
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4">
                        <input id="datum" asp-for="Bezoek.Datum" class="form-control" />
                        <span asp-validation-for="Bezoek.Datum" class="text-danger"></span>
                        <div id="tavo">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="klantmwbox">
                            <div class="klantmwhead">
                                Klant
                            </div>
                            <div class="container">
                                <div id="afterSelectKlant">
                                    <div style="font-size: 1.4em; font-weight: bold">
                                        @Model.Bezoek.Klant.Naam
                                    </div>
                                    <div>@Model.Bezoek.Klant.Adres</div>
                                    <div>@Model.Bezoek.Klant.Postcode</div>
                                    <div>@Model.Bezoek.Klant.Woonplaats</div>
                                </div>
                                <input type="hidden" asp-for="Bezoek.Id" />
                                @Html.DropDownList("klantId", Model.Klanten.Select(klant => new SelectListItem() { Value = klant.Id.ToString(), Text = klant.Naam }))
                                <input type="submit" id="select" value="Selecteer Klant" asp-action="KlantDoorgeven" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="klantmwbox">
                            <div class="klantmwhead">
                                Medewerker
                            </div>
                            <div class="container">
                                <div id="afterSelectMw">
                                    <div style="font-size: 1.4em; font-weight: bold">
                                        @Model.Bezoek.Medewerker.Gebruikersnaam
                                    </div>
                                    <div id="tijdAan" contenteditable="true">
                                        Tijdstip aanmelden: @Model.Bezoek.Tijdstip_aanmelden
                                    </div>
                                    <div id="tijdAf" contenteditable="true">
                                        Tijdstip afmelden: @Model.Bezoek.Tijdstip_afmelden
                                    </div>
                                </div>
                                <input type="hidden" asp-for="Bezoek.Id" />
                                @Html.DropDownList("mwId", Model.Medewerkers.Select(mw => new SelectListItem() { Value = mw.Id.ToString(), Text = mw.Gebruikersnaam }))
                                <input type="submit" id="selectMw" value="Selecteer Medewerker" asp-action="MwDoorgeven" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-md-10">
                <table id="myTableH">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Omschrijving
                            </th>
                            <th>
                                Extra_info
                            </th>
                            <th>
                                Uitgevoerd?
                            </th>
                            <th>
                                Verwijderen
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 1; i < hand.Count() + 1; i++)
                        {
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @hand.ElementAt(i - 1).Taak.Omschrijving
                                </td>
                                <td>
                                    @hand.ElementAt(i - 1).Taak.Extra_info
                                </td>
                                <td>
                                    <div class="checkbox">
                                        @if(hand.ElementAt(i - 1).Uitvoering == true)
                                        {
                                            <div>check</div>
                                        }
                                    </div>
                                </td>
                                <td>
                                    @using (Html.BeginForm("VerwijderHandeling", "Bezoek", new { id = hand.ElementAt(i - 1).Id }))
                                    {
                                        <button type="submit" style="background-color: white; border: 0">
                                            <img src="~/lib/assets/Trash_button.png" />
                                        </button>
                                    }
                                </td>
                            </tr>

                        }
                        <tr>
                            <td>
                                @{ int j = Model.Bezoek.Handelingen.Count() + 1;}
                                @j
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="hidden" asp-for="Bezoek.Id" />
                                @Html.DropDownList("taakId", Model.Taken.Select(taak => new SelectListItem() { Value = taak.Id.ToString(), Text = taak.Omschrijving }))
                                <button asp-action="ToevoegenHandeling" type="submit" style="background-color: white; border: 0">
                                    <img src="~/lib/assets/Add_button.png" />
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 130px">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <input type="submit" value="Verwijderen" asp-action="VerwijderBezoek"
                           class="btn btn-danger" style="margin: 20px; width: 100%" />
                </div>
                <div class="col-md-2">
                    <input type="hidden" asp-for="Bezoek.Id" />
                    <input type="submit" value="Opslaan" asp-action="UpdateBezoek"
                           class="btn btn-primary" style="margin: 20px; width: 100%" />
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/lib/datatables/datatables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="~/lib/tavocal/dist/tavo-calendar.js"></script>
    <script>
        $(document).ready(function () {
            $('#tijdAan').hide(); $('#tijdAf').hide();
            var tijdAan = document.getElementById("tijdAan").innerText.substring(1, 10);
            var tijdAf = $('#tijdAf').text().substr(1, 10);
            console.log(tijdAan);
            console.log(tijdAf);
            if (tijdAan != "00:00:00") {
                $('#tijdAan').show();
            }
            if (tijdAf != "00:00:00") {
                $('#tijdAf').show();
            }
            $('#myTableH').DataTable();
            const myCalendar = new TavoCalendar('#tavo', {
                date: "2021-08-13"
            })
            document.addEventListener('click', function () {
                $('#datum').val(myCalendar.getSelected())
            })
            //$('#select').click(function () {
            //$('#dropd').hide();
            //})
        });
    </script>
}
